// /fonts
$golos: "Golos Text", sans-serif;

// color

$white: #fff;
$gray_light: #F0F0F0;
$gray_border: #E6E6E6;
$gray: #B3B3B3;
$black_text: #333;
$black: black;
$black_text_light: #020105;
$light_black: #1a1a1a;
$text_input:#343A40;;
$red: #ff0000;
$orange: rgb(255, 184, 77);
$blue: #3376C7;