// /fonts
$golos: "Golos Text", sans-serif;

// color

$white: #fff;
$black: black;
$black_text: #333;
$orange:  rgb(255, 184, 77);
$light_black:#1a1a1a;
$red: #ff0000;
$blue:#3376C7;
$gray: #B3B3B3;
$gray_light: #F0F0F0