.profile_bg{
    width: 100%;
    height: auto;
    box-shadow: 1px 0px 32px -4px #11111114;
    background-color: $white;
    border-radius: 24px;
    margin-top: 22px;
}

.profile_bg_back{
    display: flex;
     justify-content: space-between;padding: 32px;
    
}